body
{
    background-color: gray;
    height: 100%;
    /* font-family: 'Noto Sans TC', sans-serif; */
}

h1
{
    margin-bottom: 0;
}

#container
{
    width: 100%;
}

#header
{
    background-color:rgb(130, 130, 211);
}

#menu
{
    background-color:#4fc572;
    height: 720px;
    width: 5%;
    float: left;
    text-align: center;
    line-height: 300%;
}

#menu div:hover
{
    color: white;
}

#miku
{
    background-color: rgb(51, 173, 204);
}

#rin
{
    background-color: rgb(240, 201, 28);
}

#content
{
    background-color:#EEEEEE;
    height: 720px;
    width: 95%;
    float: right;
    text-align: center;
}

#footer
{
    background-color:#FFA500;
    clear: both;
    text-align: center;
}